@import "../../styles/helpers.scss";

.ticket {
  padding: 0 $large-gap;
  background-color: $mintgreen;
  height: $fixed-height;
  overflow: hidden;
  display: grid;
  align-items: center;
  gap: $medium-gap;
  grid-template-columns: 2fr 1fr 3fr 10fr 2fr;
  .column {
    display: flex;
    flex-direction: column;
    gap: $small-gap;
  }
  .title {
    color: $dark-grey;
    font-size: 12px;
    font-weight: 700;
  }
  .subject {
    font-size: 16px;
    font-weight: 400;
  }
}
.even {
  background-color: $light-grey;
}

.editBtn {
  background-color: $aqua;

  &:after {
    background-color: $aqua;
  }
  &:before {
    background-color: darken($aqua, 25%);
  }
}

.priority {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: $small-gap;
    height: $small-gap;
    border-radius: $small-gap;
    left: $before;
    top: 50%;
    transform: translateY(-50%);
  }
}
.low {
  &::before {
    background-color: $green;
  }
}
.medium {
  &::before {
    background-color: $yellow;
  }
}
.high {
  &::before {
    background-color: $rose;
  }
}
.todo {
  color: $violet;
}
.inProgress {
  color: $yellow;
}
.done {
  color: $green;
}
.popup {
  display: flex;
  padding: $small-gap;
}

.close {
  cursor: pointer;
}
