@import "./styles/helpers.scss";

.app {
  text-align: left;
  font-family: "Manrope", sans-serif;
}

.addTicket {
  padding: $small-gap;
}

.addTicketBtn {
  background-color: $melon;

  &:after {
    background-color: $melon;
  }
  &:before {
    background-color: darken($melon, 25%);
  }
}

.Popup {
  display: flex;
  justify-content: space-between;
}
